Markdown URLs with trailing close-parenthesis aren't opened correctly

### Description of the bug

Markdown in SublimeText supports right-clicking a URL, which brings up a context menu allowing you to open the URL in your browser.  However, URLs which contain a closing parenthesis (character `)` a.k.a 0x29) as the final character do not get opened correctly -- SublimeText silently chops off the last character; the context menu itself even shows the character being omitted.

A demonstration URL: `https://www.bg-wiki.com/ffxi/Lure_of_the_Wildcat_(San_d%27Oria)`
What SublimeText tries to open: `https://www.bg-wiki.com/ffxi/Lure_of_the_Wildcat_(San_d%27Oria`

RFC 3986 defines the list of allowed characters in a URL (a.k.a. "reserved characters"), which includes open- and close-paren.  References: https://en.wikipedia.org/wiki/Percent-encoding#Types_of_URI_characters and https://stackoverflow.com/a/1856809


### Steps to reproduce

1. Open a new document and change the document type to Markdown
2. Add a URL that contains close-paren as its last character, e.g. `https://www.bg-wiki.com/ffxi/Lure_of_the_Wildcat_(San_d%27Oria)`
3. Right-click the URL; note the URL SublimeText claims to want to open is missing the closing paren at the end


### Expected behavior

The correct/full URL to be honoured.  :-)

### Actual behavior

The final character (close-paren) is chopped off.

### Sublime Text build number

4126

### Operating system & version

Windows 7 x64 SP1

### (Linux) Desktop environment and/or window manager

_No response_

### Additional information

_No response_

### OpenGL context information

_No response_

Especially in markdown there's no way to properly distinguish between `)` as part of markdown or as part of the URL. Github for instance does bracket matching which clearly also doesn't follow RFC 3986, eg: [http://foo.com/)](http://foo.com/)) (`[http://foo.com/)](http://foo.com/)) `). We similarly account for other markup languages by now allowing `;`, `}`, `}`, `"`, `'`, etc. to end a URL.

Given the fact that, orphan bracket in URL is rare, [OpenUri ](https://packagecontrol.io/packages/OpenUri) uses the balanced bracket matching strategy if you want to give it a try.

Related https://github.com/sublimehq/sublime_text/issues/4482

GitHub Flavored Markdown has its own rules about link detection, which the syntax definition uses to scope the link: https://github.github.com/gfm/#extended-autolink-path-validation

Maybe it could check the scope first to see if it is a link, and if so, expand to scope, otherwise fall back to the current regex detection mechanism. 


> Especially in markdown there's no way to properly distinguish between `)` as part of markdown or as part of the URL.

In my example, I'm not even using Markdown syntax, I'm literally just putting a "raw URL" into the text area.  (I'm only using the document type of Markdown to achieve general syntax highlighting).  Full example content:

```
For details see https://www.bg-wiki.com/ffxi/Lure_of_the_Wildcat_(San_d%27Oria) and related links.
```

Your point regarding Markdown's bracket-paren syntax being vague is still valid, though.  I think [what Keith mentioned](https://github.com/sublimehq/sublime_text/issues/5254#issuecomment-1039943009) is most applicable to solving that.

Found another oddity along these same lines: URLs which end in a period (`.`) have the period omitted entirely.  Example content (again in Markdown):

```
Can buy from NPCs: https://www.bg-wiki.com/ffxi/La_Theine_Cbg.
```

The period is not considered part of the URL (and technically it should be).

> Can buy from NPCs: https://www.bg-wiki.com/ffxi/La_Theine_Cbg.

I would argue having a trailing period in the URL is a rare case from writing convention. Treating it as part of the URL causes more issues than it solves.


1. When following the posted link, it doesn't contain the trailing period, why do you considder it part of?
2. The block quoted link illustrates how GitHub doesn't resolve the trailing period as part of the URL as well. 

At least in context of Mardown trailing periods are allowed/supported only in Markdown links

    [Link Title](https://www.bg-wiki.com/ffxi/La_Theine_Cbg.)

or angled links

    <https://www.bg-wiki.com/ffxi/La_Theine_Cbg.>

but not in bare links (see: https://github.github.com/gfm/#example-623)

    https://www.bg-wiki.com/ffxi/La_Theine_Cbg

This is what I mean with "URLs are more or less syntax specific".

I am/was talking exclusively about "bare links".  The link should continue up until any character that is not listed in RFC3986 section 2.2 or 2.3 (i.e. continue until any character of the reserved and unreserved list is encountered).  This isn't hard.

But the problem I document happens *even with bracket-paren or angled links in use*.  Try it yourself and see:

```
[Link Title](https://www.bg-wiki.com/ffxi/La_Theine_Cbg.)
<https://www.bg-wiki.com/ffxi/La_Theine_Cbg.>
```

Now right-click on either link link to bring up the SublimeText context menu that lets you open the URL in your browser.  Look at the URL it wants to open -- the trailing dot is omitted (identical to what I said earlier about trailing close-parens -- change the URL to have one of those and the same problem will happen!).  **This is the type of bug I am talking about in this ticket.**

To make it more clear, let's go over this in detail, because there is apparently more than one bug here:

![Capture](https://user-images.githubusercontent.com/8430773/154850153-01b658d8-d3bf-4cf0-9ea4-90cdd8192462.JPG)

1. Bracket-paren syntax: link *with trailing dot* is highlighted per Markdown parser. What the user expects: right-clicking the link + opening URL should open what's highlighted.  What actually happens: URL opened lacks trailing dot
2. Angled link syntax: link *with trailing dot* is highlighted per Markdown parser. What the user expects: right-clicking the link + opening URL should open what's highlighted.  What actually happens: URL opened lacks trailing dot
3. Bare links: link *without trailing* dot is highlighted per Markdown parser.  What the user expects: probably varies depending on the human; see [this comment](https://github.com/sublimehq/sublime_text/issues/5254#issuecomment-1046151952) vs. [my comment](https://github.com/sublimehq/sublime_text/issues/5254#issuecomment-1046259872).  I still think one this is solvable via numerous methods (OpenUri's approach seems the most sane)

If item 3 cannot be solved sanely, I would be willing to accept that "bare links" should not be context-clickable.  **The only reason I picked Markdown for this document was because it offered clickable links.  The document itself is not truly Markdown.**

I hope this explanation is clearer.

In short, `open_url` from the context menu should be context-aware.

In build 4128 the `open_context_url` command uses the syntax highlighting for determining the URL.

Just for the record: The scope being used is `markup.underline.link`?

@deathaxe indeed